<div id="sign-in-content">
    <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" required>
                <div *ngIf="!username && loginForm.submitted" class="error-message">Username is required</div>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
                <div *ngIf="!password && loginForm.submitted" class="error-message">Password is required</div>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</div>