<header id="app_header" class="header">
    <div class="title-container">
        <app-wrapper-anchor [path]="'/'">
            <h4>Angular Jobs App</h4>
        </app-wrapper-anchor>
    </div>
    <nav class="nav-links" *ngIf="user">
        <app-anchor [text]="'Home'" [path]="'/'"></app-anchor>
        <app-anchor [text]="'Add Jobs'" [path]="'/add_new_job'"></app-anchor>
    </nav>
    <div class="login-container">
        <app-wrapper-anchor [path]="user ? '/profile_overview' : '/sign_in'">
            <span class="login-text">{{ user ? user.username : 'Login' }}</span>
            <img [src]="user ? 'images/user_logged_in.png' : 'images/user.png'" alt="Profile" class="profile-image" />
        </app-wrapper-anchor>
    </div>
</header>