/* Styles for the header */
.header {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    /* Center items vertically */
    justify-content: space-between;
    /* Space out the elements */
    padding: 16px;
    /* Add padding */
    background-color: #3f51b5;
    /* Material Design Primary Color */
    color: white;
}

.title-container {
    flex: 1;
}

h4 {
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex: 2;
}

/* Login container styles */
.login-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.login-text {
    margin-right: 8px;
    /* Space between text and image */
}

/* Profile image styles */
.profile-image {
    width: 40px;
    /* Set the width of the circular image */
    height: 40px;
    /* Set the height of the circular image */
    border-radius: 50%;
    /* Make the image circular */
    object-fit: cover;
    /* Cover the container */
}